.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.gitignore
**/.eslintignore
**/.editorconfig
**/.npmrc
**/.yarnrc
**/.prettierrc
**/.prettierignore
**/.github
**/.vscode
**/node_modules/.cache
**/node_modules/@types
**/node_modules/**/*.d.ts
**/node_modules/**/*.map
**/node_modules/**/test
**/node_modules/**/tests
**/node_modules/**/doc
**/node_modules/**/docs
**/node_modules/**/README.md
**/node_modules/**/CHANGELOG.md
**/node_modules/**/LICENSE.md
**/node_modules/**/LICENSE
**/node_modules/**/Makefile
**/node_modules/**/bin
**/node_modules/**/scripts

.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
*.map
*.ts
*.test.ts
.eslintignore
.editorconfig
.npmrc
.yarnrc
.prettierrc
.prettierignore
.github
node_modules/**
!node_modules/node-fetch/**
!node_modules/form-data/**
!node_modules/asynckit/**
!node_modules/combined-stream/**
!node_modules/mime-types/**
!node_modules/mime-db/**
media/monaco-editor/vs/base/browser/ui/codicons/codicon/codicon.ttf
media/monaco-editor/**/test/**
media/monaco-editor/**/*.map
media/monaco-editor/**/README.md
media/monaco-editor/**/CHANGELOG.md
media/monaco-editor/**/LICENSE
media/*.ts
media/*.test.js